@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/about.css" />
    <script src="~/assets/js/about.js" defer></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>

    <section class="MainNavbar">

        <a class="MainButton MainHome" href="cleveland.html">HOME </a>


        <a class="MainButton Mainabout" href="about.html">ABOUT</a>
        <a class="MainButton MainServices" href="#">SERVICES</a>
        <a class="MainButton MainDoctors" href="Doctors.html">DOCTORS</a>
        <a class="MainButton MainAppoint" href="appointment.html">APPOINTMENT</a>
        <a class="MainButton MainTest" href="#">TESTIMONIAL</a>
        <a class="MainButton MainBlog" href="Blog.html">BLOG</a>

        <div class="container">
            <a class="main-button">I WANT  TO <i class="fa-solid fa-chevron-down"></i></a>
            <div class="dropdown-content">

                <a href="#" class="L1"><i class="fa-solid fa-stethoscope"></i>Find a Doctor</a>
                <a href="#" class="L2"><i class="fa-solid fa-calendar-days"></i> Request an Appointment</a>
                <a href="#" class="L3"><i class="fa-solid fa-suitcase-medical"></i>Book a HealthCheck</a>
                <a href="#" class="L4"><i class="fa-solid fa-tablet"></i>Access LAB Reports</a>

            </div>

    </section>
    <!------------------------------------------------------------------------>
    <div class="content">
        <div class="welcomesensive">
            <span class="welcome">Welcome to </span>
            <span class="sensive">Sensive</span>
            <i class="fa-duotone fa-transporter-empty"></i>
            <div class="line">
                <div class="welcome-line">
                    <div class="dot"></div>
                </div>
            </div>


            <div class="lobox">
                <div class="Lorem">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
                    nesciunt, vitae similique eaque alias laborum a itaque voluptate
                    necessitatibus, consectetur possimus aliquam sequi. Hic iure,
                    blanditiis recusandae ea numquam porro.
                </div>
            </div>
        </div>

        <div class="icons">
            <div class="sec1">
                <a class="icon1"> <img src="~/images/icon-2.png" alt="1" /></a>
                <h1>Our Mission</h1>
            </div>
            <div class="sec2">
                <a class="icon2"> <img src="~/images/icon-1.png " alt="2" /></a>
                <h1>Our History</h1>
            </div>
            <div class="sec3">
                <a class="icon3"><img src="~/images/icon-4.png" alt="3" /></a>
                <h1>Our vision</h1>
            </div>
            <div class="sec4">
                <a class="icon4"><img src="~/images/icon-3.png" alt="4" /></a>
                <h1>Our Success</h1>
            </div>
        </div>

        <div class="writes">
            <a class="write1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a class="write2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a class="write3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
            <a class="write4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </a>
        </div>
        <div class="ConI">
            <div class="gallery">
                <img id="galleryImg1" src="~/images/s3.png" alt="Photo 1" />
                <img id="galleryImg2"
                     src="~/images/s5.png"
                     alt="Photo 2"
                     style="display: none" />
                <button id="prevButton" onclick="prevImage()">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button id="nextButton" onclick="nextImage()">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>

        <section class="footer">
            <div class="img1">
                <img src="~/images/counter-bg (1).jpg" alt="img1" />
                <div class="tons"></div>

                <div class="footpap">
                    <div class="paper">
                        <i class="fa-solid fa-people-group"></i>



                    </div>
                    <div class="paper"><i class="fa-solid fa-user-nurse"></i></div>
                    <div class="paper"><i class="fa-solid fa-user-doctor"></i></div>
                    <div class="paper"><i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="Happy">
                        <h1>1250</h1>
                        <h3> Happy Patiens</h3>
                    </div>

                    <div class="Medical">
                        <h1>1350</h1>
                        <h3>Medical Workers</h3>
                    </div>

                    <div class="Doctors1">
                        <h1>1560</h1>
                        <h3>Total Doctors</h3>
                    </div>

                    <div class="Experience">
                        <h1>1670</h1>
                        <h3>Medical Experience</h3>

                    </div>


                </div>
            </div>


        </section>
    </div>
</body>
</html>
