<section class="Mid">
    <div class="imgcon">
        <img src="./images/slide1.jpg" alt="img1" class="img1">
        <div class="tons"></div>


    </div>

    <img src="~/images/single-doc2.png" alt="img3" class="img3">
    <p class="totalcare" href="#">TOTAL CARE</p>
    <p class="totalcare1">______</p>
    <h1 class="prov">PROVIDING</h1>
    <h1 class="solution"> HEALTH SOLUTION</h1>
    <h1 class="caring">+ WE ARE CARING</h1>

    <div class="Fbutton">
        <div class="ourservices">

            <button class="ourservicebutton"> OUR SERVICES</button>

        </div>

        <div class="contactus">
            <button class="contactusbutton">CONTACT US</button>
            <button></button>

        </div>
    </div>









</section>