@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/Blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <section class="FirstNavbar">
        <div class="Logos">

            <a href="https://www.facebook.com/login/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://x.com/?lang=en"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.youtube.com/?themeRefresh=1"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a>




        </div>


        <div class="First-Function">
            <a href="Login.html" class="button">Login</a>
            <a href="Register.html" class="button">Register</a>
            <a href="#" class="button">Appointment</a>
            <a href="#" class="button">Contact</a>
        </div>
    </section>



    <section class="InfNavbar">

        <div class="Cleveland">

            <a href="http://127.0.0.1:5500/Cleveland.html"><img src="~/images/logo (2).png" class="logoimg" alt="logoimg"></a>

        </div>

        <div class="Number">
            <a><i class="fa-solid fa-phone"></i></a>
            <i class="Customer">Customer&support sales</i>
            <p class="Digits">123-456-0975</p>
        </div>
        <div class="adress">
            <a><i class="fa-solid fa-location-dot"></i></a>
            <i class="Opening">Opening hours</i>
            <p class="Mon-Sun">Mon - Sun : 09:00 - 18:00</p>
        </div>
        <div class="GetaQuote">

            <a href="#" class="GetaQuoteButton"><span> GET A QUOTE<i><i class="fa-solid fa-caret-right"></i></i></span></a>

        </div>
    </section>
    <section class="MainNavbar">

        <a class="MainButton MainHome" href="cleveland.html">HOME </a>


        <a class="MainButton Mainabout" href="about.html">ABOUT</a>
        <a class="MainButton MainServices" href="#">SERVICES</a>
        <a class="MainButton MainDoctors" href="Doctors.html">DOCTORS</a>
        <a class="MainButton MainAppoint" href="appointment.html">APPOINTMENT</a>
        <a class="MainButton MainTest" href="#">TESTIMONIAL</a>
        <a class="MainButton MainBlog" href="Blog.html">BLOG</a>

        <div class="container">
            <a class="main-button">I WANT  TO <i class="fa-solid fa-chevron-down"></i></a>
            <div class="dropdown-content">

                <a href="#" class="L1"><i class="fa-solid fa-stethoscope"></i>Find a Doctor</a>
                <a href="#" class="L2"><i class="fa-solid fa-calendar-days"></i> Request an Appointment</a>
                <a href="#" class="L3"><i class="fa-solid fa-suitcase-medical"></i>Book a HealthCheck</a>
                <a href="#" class="L4"><i class="fa-solid fa-tablet"></i>Access LAB Reports</a>

            </div>

    </section>






    <div class="content">
        <div class="TodaysNews">
            <span class="Today">Today' </span>
            <span class="News">News</span>
            <i class="fa-duotone fa-transporter-empty"></i>
            <div class="line">
                <div class="welcome-line">
                    <div class="dot"></div>
                </div>
                <div class="lobox">
                    <div class="Lorem">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
                        nesciunt, vitae similique eaque alias laborum a itaque voluptate
                        necessitatibus, consectetur possimus aliquam sequi. Hic iure,
                        blanditiis recusandae ea numquam porro.
                    </div>
                </div>
            </div>

            <!--------------------------------------------------------------------------------------------------------->

            <div class="tableb-container">

                <div class="tableb">

                    <img src="~/images/1.jpg" alt="img1" class="tableb-image">
                    <div class="single-blog-home-meta">
                        <span class="post-date"><i class="fa-regular fa-calendar"></i> 15 Dec</span>
                        <span class="post-user"><i class="fa-regular fa-user"></i> Admin</span>
                        <span class="post-comment"><i class="fa-regular fa-comment"></i> 5 comments</span>
                    </div>
                    <h6>DIGITAL BARIATRIC SURGERY</h6>
                    <p class="tableb-text">
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eges vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.

                        <a class="Continue" href="BlogSing.html">Continue <i class="fa-solid fa-arrow-right"></i></a>
                    </p>






                </div>

                <div class="tableb">

                    <img src="~/images/2.jpg" alt="img1" class="tableb-image">
                    <div class="single-blog-home-meta">
                        <span class="post-date"><i class="fa-regular fa-calendar"></i>16 Dec</span>
                        <span class="post-user"><i class="fa-regular fa-user"></i> Jone</span>
                        <span class="post-comment"><i class="fa-regular fa-comment"></i> 6 comments</span>
                    </div>
                    <h6>OBESITY : A GROWING EPIDEMIC</h6>
                    <p class="tableb-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eges vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>

                    <a class="Continue" href="BlogSing.html">Continue <i class="fa-solid fa-arrow-right"></i></a>




                </div>



                <div class="tableb">
                    <img src="~/images/3.jpg" alt="img1" class="tableb-image">
                    <div class="single-blog-home-meta">
                        <span class="post-date"> <i class="fa-regular fa-calendar"></i>17 Dec</span>
                        <span class="post-user"><i class="fa-regular fa-user"></i> Admin</span>
                        <span class="post-comment"><i class="fa-regular fa-comment"></i> 7 comments</span>
                    </div>
                    <h6>AFTER SURGERY  BED REST</h6>
                    <p class="tableb-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis eges vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>



                    <a class="Continue" href="BlogSing.html">Continue <i class="fa-solid fa-arrow-right"></i></a>
                </div>
















































































































































































            </div>
        </div>







































    </div>


</body>
</html>